* {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    max-width: 960px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #000;
}

#toggle {
    background: #353b48;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0px;
    transition: all 0.5s;
    z-index: 1000;
}

header.sticky {
    background: #fff;
    /* opacity: 0.9; */
    padding: 10px 0px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

header.sticky #main-menu a {
    color: #000;
}

header.sticky #logo {
    color: #000;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

ul#main-menu {
    display: flex;
}

ul#main-menu a {
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;
    display: block;
    font-weight: bold;
}

ul#main-menu li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
}

nav #main-menu li:hover a {
    color: #c23616;
    transition: all 0.3s;
}

.box-submenu {
    display: none;
}

#main-menu li:hover .box-submenu {
    display: block;
    position: absolute;
    background: #dfff;
    margin-top: 15px;
    margin-left: -15px;
}

ul#main-menu li:hover .box-submenu {
    display: block;
    margin: 0px;
    padding: 0px;
}

ul#main-menu li:hover .box-submenu li {
    width: 220px;
    text-align: left;
    border-bottom: dotted 1px #fff;
    background: transparent;
    border-radius: 0;
    padding: 15px;
    margin: 10px;
}

ul#main-menu li:hover .box-submenu li a {
    color: black;
}

ul#main-menu li:hover .box-submenu li:last-child {
    border-bottom: none;
}

ul#main-menu li:hover .box-submenu li a:hover {
    color: #c23616;
}

#banner {
    width: 80%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: 100px auto;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide a:hover {
    filter: brightness(70%);
}

.slide img {
    width: 100%;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 80%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40D3DC;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #40D3DC;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #40D3DC;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #40D3DC;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #40D3DC;
}

#video {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

#video p {
    font-size: 25px;
}

#video div {
    padding: 20px 0px;
}

.vide iframe {
    width: 80%;
    border: 2px solid yellow;
    border-radius: 15px;
    height: 500px;
    overflow: hidden;
}

#content {
    text-align: justify;
}

#content h1 {
    padding: 30px 0px;
}

#content p {
    margin-bottom: 3rem;
}

.content {
    font-size: 25px;
}

.content img {
    width: 90%;
}

.content h4 {
    padding: 10px 0px;
}

.content h5 {
    padding: 10px 0px;
}

footer {
    background: #999;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background: #AFAFB6;
}

footer .content-footer {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content-footer .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content-footer .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content-footer .top .media-icons {
    display: flex;
}

.content-footer .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content-footer .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content-footer .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content-footer .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content-footer .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content-footer .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content-footer .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content-footer .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #fff;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #000;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #0F0844;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    text-transform: uppercase;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content-footer .link-boxes {
        flex-wrap: wrap;
    }
    footer .content-footer .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }
    .content-footer .top .logo-details {
        font-size: 26px;
    }
    .content-footer .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content-footer .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    footer .content-footer .link-boxes .input-box {
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }
    footer .content-footer .top {
        flex-direction: column;
    }
    .content-footer .top .media-icons {
        margin-top: 16px;
    }
    footer .content-footer .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    footer .content-footer .link-boxes .input-box {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #main-menu {
        flex-direction: column;
        background-color: #fff;
    }
    ul#main-menu li a {
        color: #000;
    }
    #toggle {
        display: block;
    }
    nav {
        display: none;
    }
    #banner {
        width: 95%;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
    }
    .slide img {
        width: 100%;
        height: 400px;
    }
    #logo {
        display: none;
    }
    #video p {
        font-size: 18px;
    }
    #video div {
        padding: 20px 0px;
    }
    .vide iframe {
        width: 90%;
        border: 2px solid yellow;
        border-radius: 15px;
        height: 300px;
        overflow: hidden;
        margin: 0px 20px;
    }
    .content {
        font-size: 20px;
    }
    .content img {
        width: 90%;
    }
}